.button-leave {
    border: 1px solid #fff;
    padding: 10px;
    margin: 3px;
    background: #fa7514;
    color: #fff;
    font-size: 1.0em;
    font-weight: bold;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: absolute;
    right:    5px;
    bottom:   5px;
    cursor: pointer;
}
.current-ad-container {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 40px 50px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
/*.leave-ad-background-container {*/
/*    padding: 5px;*/
/*    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);*/
/*    display: inherit;*/
/*    background: #209cee;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    right:    5px;*/
/*    bottom:   5px;*/
/*}*/
.button-leave:hover {
    background-color:#002f87;/*effect*/
}