@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1.5rem;
}

body {
    background-color: #002f87;
    font-family: 'Nunito', sans-serif;
}

p {
    color: #faffff;
    margin: 1em 0 0;
}

article {
    margin: 0.5em;
    padding: 1em;
    background-color: #64a7ff;
    color: whitesmoke;
    border-radius: 15px;
    position: relative;
    height: 400px;
}

h1 {
    margin: 1rem;
    color: whitesmoke;
}

h2::first-letter,
p::first-letter {
    text-transform: uppercase;
}

.center {
    text-align: center;
    margin-bottom: 1em;
}

a:any-link {
    color: whitesmoke;
}

a:hover,
a:focus-within {
    color: hsla(0, 0%, 96%, 0.9);
}